:root {
    --accent-main: #6648f1;
    --accent-hov: #4e35f2;
    --text-main: #121222;
    --back-main: #f7f7f7;
    --back-second: #ece7f3;
    --err-red: #dc2003;
    --err-red-back: #f5dcdc;
    --warning-yellow: #ffb730;
    --warning-yellow-back: #ffeed7;
    --gray: #6f6b88;
    --post-title-font-size: 2.75rem;
    --post-title-font-weight: 600;
    --post-content-heading-font-size: 2.25rem;
    --post-content-heading-font-weight: 550;
    --post-content-subheading-font-size: 1.875rem;
    --post-content-subheading-font-weight: 500;
    --post-content-paragraph-font-size: 1.5rem;
    --post-content-paragraph-font-weight: 450;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--back-main);
    font-family: Rubik, sans-serif;
    color: var(--text-main);
}

input,
textarea {
    font-family: Rubik, sans-serif;
}

.unselectable {
    user-select: none;
}